{% extends "base.html" %}

{% block title %}Oyun Haberleri - Ana Sayfa{% endblock %}

{% block content %}
<div class="container my-5">

      <h1 class="mb-4 text-center">Oyun Haberleri</h1>

      <p class="lead text-muted">
            Bu sitede en güncel oyun haberleri yer almaktadır. Güncel haberler için bizi takip edin.
            Takipte kalın! Takip için sizlere vereceğimiz adreste olacağız.
      </p>

      <hr class="my-4">

      <h2 class="mt-4">En Güncel Yamalar</h2>
      <ul class="list-group mb-4">
            <li class="list-group-item">GTA</li>
            <li class="list-group-item">Red Alert 2</li>
      </ul>

      <h2 class="mt-4">En Güncel Crackler</h2>
      <ul class="list-group mb-4">
            <li class="list-group-item">CS2</li>
            <li class="list-group-item">Half Life</li>
      </ul>

      <div class="text-center">
            <img src="/static/images/redalert.png" alt="Red Alert 2" class="img-fluid rounded shadow">
      </div>

</div>
{% endblock %}