{% extends "base.html" %}

{% block title %}Giriş Yap - Oyun Haberleri{% endblock %}

{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/static/images/login.png" id="icon" alt="User Icon" style="width: 20%; height: auto;" />
        </div>


        <!-- Login Form -->
        <form action="/login.html" method="POST">
            <input type="text" class="fadeIn second" name="username" placeholder="Username or Email" required>
            <input type="password" class="fadeIn third" name="password" placeholder="Password" required>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>


        <!-- Remind Passowrd -->

        <div id="formFooter">
            <a class="underlineHover" href="signup.html">Signup</a>
        </div>

    </div>
</div>
{% endblock %}